*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo

venv/
ENV/
env/
.venv/

db.sqlite3

.idea/
.vscode/

*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
local_settings.py
db.sqlite3
media

*.idea/
*.sublime-project
*.sublime-workspace
