# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Django stuff
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test reports
coverage/
*.cover
*.py,cover
.hypothesis/

# Environment variables
.env
